<ion-view class="welcome-view" cache-view="false">

  
  <ion-content scroll="false">
    <div multi-bg="bgs" interval="3000" helper-class="facebook-welcome-bg">
      <div class="top-content row">
        <!--
        <div class="app-copy col col-center">
          <h1 class="app-logo">logo</h1>
          <p class="app-tagline">
            Your tag line
          </p>
        </div>
      -->
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom">
          <a class="facebook-sign-in button-large icon-left ion-social-facebook button button-block" ng-click="facebookSignIn()">
            Acessar com Facebook
          </a>
          <a class="dont-have-facebook button button-clear button-block" ui-sref="dont-have-facebook">
          </a>
          <section ng-include="'views/app/legal/legal-notice.html'"></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
