<ion-view view-title="Informações" class="shop-popular-view">
  <ion-content>
    <div class="row shop-products-narrow-cards-outer">
      
      <div class="col col-100 shop-product-narrow-card">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <a ui-sref="app.infomapa"><img ng-src="img/location.jpg" spinner-on-load></a>
            </pre-img>
          </div>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Como chegar ao Parque de Exposições?</h2>
            <p class="card-description">Avenida Colombo, 2186 - Maringá - PR</p>
          </div>
        </div>
      </div>
     </div>


      <div class="row shop-products-narrow-cards-outer">

        <div class="col col-50 shop-product-narrow-card">
          <div class="list card">
            <div class="item item-image">
              <pre-img ratio="_1_1" helper-class="main-image">
                <a ui-sref="app.infogerais"><img ng-src="img/info.jpg" spinner-on-load></a>
              </pre-img>
            </div>
            <div class="item item-body">
              <h2 class="card-title"><a ng-href="app/infomapa"></a>Informações Gerais</h2>
              <p class="card-description">Horários, dias e contatos</p>
            </div>
          </div>
        </div>

        <div class="col col-50 shop-product-narrow-card">
          <div class="list card">
            <div class="item item-image">
              <pre-img ratio="_1_1" helper-class="main-image">
                <a ui-sref="app.infodesenho"><img ng-src="img/map.jpg" spinner-on-load></a>
              </pre-img>
            </div>
            <div class="item item-body">
              <h2 class="card-title">Mapa do parque</h2>
              <p class="card-description">Clique para visualizar</p>
            </div>
          </div>
        </div>


    </div>

  </ion-content>
</ion-view>
