<ion-view view-title="Gerais" class="shop-popular-view">
  <ion-content>
    <div class="row shop-products-narrow-cards-outer">
      
      <div class="col col-100 shop-product-narrow-card">
    
		<img width="100%" ng-src="img/rodeio.jpg"><br>

<div class="card">
  <div class="item item-divider">
    Informações Gerais
  </div>
  <div class="item item-text-wrap">
	<b>Nome:</b> Exposição Feira Agropecuária, Industrial e Comercial de Maringá – EXPOINGÁ<br>
	<b>Data: </b>5 a 15 de maio de 2016<br>
	<b>Edição:</b> 44ª | 21ª Internacional<br>
	<b>Periodicidade:</b> anual<br>
	<b>Abrangência: </b>Nacional e internacional<br>
	<b>Local:</b> Parque Internacional de Exposições de Maringá<br>
	<b>Área total:</b> 248.000 m2<br>
	<b>Promoção e Realização: </b>Sociedade Rural de Maringá<br>
	<b>Público visitante:</b> 503.802 pessoas (Expoingá 2015)<br>
	<b>Empresas expositoras:</b> Mais de 1.000 (mil)<br>
  </div>
</div>
<br>

<div class="card">
  <div class="item item-divider">
    Perfil do Expositor
  </div>
  <div class="item item-text-wrap">
	Indústria, comércio, serviços, agronegócio, agricultura, pecuária, máquinas e implementos agrícolas, insumos e produtos veterinários, concessionárias, gastronomia, arte e cultura, meios de comunicação, instituições financeiras, educação, segurança, saúde, tecnologia, biotecnologia animal e vegetal, sustentabilidade, entretenimento, lazer.
  </div>
</div>
<br>

<div class="card">
  <div class="item item-divider">
   Atividades
  </div>
  <div class="item item-text-wrap">
Vendas diretas e lançamento de produtos e serviços, fidelização e prospecção de novos clientes, ações de marketing e merchandising, mídias sociais, transmissões de rádio e TV ao vivo, leilões, julgamentos, rodeio, provas equestres, mostra de pequenos animais, financiamentos e linhas de crédito, shows, Barraca Universitária, parque de diversões, alimentação, apresentações artísticas e culturais, excursões, encontros, seminários, cursos, palestras, mobilização ambiental, eventos beneficentes.
	<br>
  </div>
</div>
<br>

<div class="card">
  <div class="item item-divider">
    Contato
  </div>
  <div class="item item-text-wrap">
	Telefone: (44) 3261-1700 <br>
e-mail: expoinga2016@srm.org.br <br>
Web: www.expoinga.com.br | www.srm.org.br
  </div>
</div>




        </div>
      </div>
     </div>

    </div>
  </ion-content>
</ion-view>
