<ion-view view-title="Mapa do Parque" class="shop-popular-view">
  <ion-content>
    <div class="row shop-products-narrow-cards-outer">
      
      <div class="col col-100 shop-product-narrow-card">

        <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
            <img height="400" ng-src="img/mapa.jpg"><br>
        </ion-scroll>

        <div class="card">
          <div class="item item-divider">
            Mapa do parque Francisco Feio Ribeiro
          </div>
          <div class="item item-text-wrap">
        	<img width="100%" ng-src="img/mapa-texto.gif"><br>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
