<ion-view view-title="Julgamentos e Provas" class="shop-popular-view">
  <ion-content>
    <div class="list">
      <div ng-repeat="item in programacao">
      <a ng-show="item.id != '26'" class="item" ui-sref="app.programacao-detalhe({id: item.id})">
        <h2><pre><b>{{item.titulo}}</b></pre></h2>
        <p class="categoriaevento"> <i class="icon ion-ios-keypad"></i> Categoria: Julgamentos/Provas</p>
        <p><i class="icon ion-ios-location"></i> {{item.local}}</p>
        <div class="item-icon-right">
        <i class="icon ion-arrow-right-c"></i>
        </div>
      </a>

      <div ng-show="item.id == '26'" class="item text-center">
        <h2><pre><b><i class="icon ion-ios-information"></i> {{item.titulo}}</b></pre></h2>
      </div>      

      </div>


    </div>
  </ion-content>
</ion-view>
