<ion-view view-title="Detalhes"  class="shop-popular-view">
  <ion-content ng-repeat="item in programacaoGet">
      <img width="100%" ng-src="http://www.expoinga.com.br/restrito/img/eventos/{{item.imagem}}">
      <div class="button-bar bar-balanced">
        <a class="button tituloevento"><pre>{{item.titulo}}</pre></a>
      </div>

      <div ng-show="item.tipo != 'julgamento'">
        <div class="button-bar bar-light">
          <a class="button">{{item.data}}</a>
          <a class="button">{{item.horario}}h</a>
          <a class="button">{{item.diadasemana}}</a>
        </div>
      </div>

      <div class="item item-body">
        <p class="product-description">
          <i class="icon ion-location"></i> {{item.local}}
          <pre ng-show="item.descricao != ''">{{item.descricao}} <br><br></pre>
          <pre ng-show="item.informacao != ''">{{item.informacao}} <br><br></pre>
        </p>
      </div>

      <div ng-show="item.tipo == 'show'">
        
        <div class="row split-actions">
          <div class="col">
            <a ng-href="{{item.url1}}" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
            <button class="button button-block button-balanced highlighted">
               Comprar ingresso
            </button>
            </a>
          </div>
          <div class="col">
            <a ng-href="{{item.url1}}" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
            <button class="button button-block button-calm highlighted">
               Camarote Prime
            </button>
            </a>
          </div>
        </div>

        <div class="row">
        <div class="col">
          <pre-img ratio="_2_1" helper-class="shop-home-option-image-outer">
            <img ng-src="img/pontos.jpg" width="100%" spinner-on-load>
          </pre-img>
        </div>


      </div>

    </div>

  </ion-content>
</ion-view>
