<ion-view view-title="Sorteios" class="shop-popular-view">
  <ion-content>

    <div class="list card" ng-repeat="item in programacao" ui-sref="app.programacao-detalhe({id: item.id})">
      <div class="item item-avatar">
        <img src="img/otema.jpg">
        <h2>{{item.titulo}}</h2>
        <p>Sorteio em {{item.data}} às {{item.horario}}h</p>
      </div>

      <div class="item item-body" ng-show="item.id != '27'">
        <img class="full-image" src="img/topshow.jpg">
        <p>
          {{item.descricao}}
        </p>
        <p>
          <a href="#" class="subdued"><i class="icon ion-ios-clock-outline"></i> {{item.informacao}}...</a>
        </p>

        <a ng-href="http://www.expoinga.com.br/sorteios/index.php?sorteio={{item.id}}" onclick='window.open(this.href, "_system", "location=yes"); return false;'class="facebook-sign-in button-large icon-left ion-pricetag button button-block">
            Quero Participar
        </a>

      </div>

    </div>

  </ion-content>
</ion-view>
