<ion-view view-title="Hotéis" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
          <div class="box">
            <img ng-src="http://www.expoinga.com.br/restrito/img/paginas/4_25_1425824541.jpg">
          </div>

      <div class="item item-body">
        <h2 class="product-title">Onde se Hospedar?</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          
          <!-- CONTAINER -->
      <div class="container">
        
        <!-- ROW 01-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/01.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Astória Hotel</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3226-5955
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:contato@hotelastoria.com.br">
                    contato@hotelastoria.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Av. Tamandaré, 241
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.419079,-51.935267&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=Av.+Tamandar%C3%A9,+241+-+Zona+01+Maring%C3%A1+-+PR+87013-210,+Brasil&output=embed" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.hotelastoria.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
        </div><!-- //ROW -->

        <!-- ROW 02-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/02.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Bristol Metrópole Hotel</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3221-8100
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:metropole@bristolhoteis.com.br">
                    metropole@bristolhoteis.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Av. XV de Novembro, 470
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.423606,-51.936948&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=Av.+XV+de+Novembro,+470+-+Zona+01+Maring%C3%A1+-+PR+87013-230,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.bristolhoteis.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
        </div><!-- //ROW -->

        <!-- ROW 03-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/03.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Golden Ingá Hotel</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3293-4511
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:reservas@goldeninga.com.br">
                    reservas@goldeninga.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Rua Néo Alves Martins, 2398
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://maps.google.com/maps?ll=-23.422703,-51.937119&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=R.%20N%C3%A9o%20Alves%20Martins%2C%202398%20-%20Zona%2003%20Maring%C3%A1%20-%20PR%2087050-110%2C%20Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.goldeninga.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
         
        </div><!-- //ROW -->

        <!-- ROW 04-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/04.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Harbor Self Cidade Verde</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3027-1300
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:cidadeverde@harborhoteis.com.br">
                    cidadeverde@harborhoteis.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Rua Santos Dumont, 2516
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.421792,-51.937271&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=R.+Santos+Dumont,+2516+-+Zona+03+Maring%C3%A1+-+PR+87050-100,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.harborhoteis.com.br/hoteis/hotel-em-maringa-harbor-cidade-verde">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
          
        </div><!-- //ROW -->

        <!-- ROW 05-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/05.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Hotel Caiuá</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3033-4900 / 0800 605 4900
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:maringa@hotelcaiua.com.br">
                    maringa@hotelcaiua.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Av. Tuiuti, 434
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.423881,-51.909008&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=Av.+Tuiuti,+434+-+Jardim+Colina+Verde+Maring%C3%A1+-+PR+87043-720,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.hotelcaiua.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
          
        </div><!-- //ROW -->

        <!-- ROW 06-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/06.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Hotel Deville</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  0800 703 1866
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:valdomira@deville.com.br">
                    valdomira@deville.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Av. Herval, 26
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.423881,-51.909008&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=Av.+Tuiuti,+434+-+Jardim+Colina+Verde+Maring%C3%A1+-+PR+87043-720,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.deville.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
         
        </div><!-- //ROW -->

        <!-- ROW 07-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/07.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Hotel Gaph</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3031-7000
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:reserva@hotelgaph.com.br">
                    reserva@hotelgaph.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Rua Rubens Sebastião Marin, 80
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.431688,-51.885919&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=R.+Rubens+Sebasti%C3%A3o+Marin,+80+Maring%C3%A1+-+PR+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.hotelgaph.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
         
        </div><!-- //ROW -->

        <!-- ROW 08-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/08.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Hotel Ibis Maringá</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3027-9200
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:h3732-re@accor.com.br">
                    h3732-re@accor.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Av. XV de Novembro, 129
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.424117,-51.933583&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=Av.+XV+de+Novembro,+129+-+Zona+01+Maring%C3%A1+-+PR+87013-230,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.accorhotels.com/pt-br/hotel-3732-ibis-maringa">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
         
        </div><!-- //ROW -->

        <!-- ROW 09-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/09.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Hotel Internacional</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44)3301-3939 / 0800 600 3939
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:reserva@hotelinternacional.com.br">
                    reserva@hotelinternacional.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Rua Pioneiro Dirceu Palma, 161
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.420746,-51.975136&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=R.+Pioneiro+Dirceu+Palma,+161+-+Parque+Industrial+Bandeirantes+Maring%C3%A1+-+PR+87070-040,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.hotelinternacional.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
          
        </div><!-- //ROW -->

        <!-- ROW 10-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/10.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Hotel Thomasi</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 3032-0400
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:reservas@hotelthomasi.com.br">
                    reservas@hotelthomasi.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Av. Colombo, 3531
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.418757,-51.916532&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=Av.+Colombo,+3531+-+Zona+10+Maring%C3%A1+-+PR+87030-211,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.hotelthomasi.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
          
        </div><!-- //ROW -->

        <!-- ROW 11-->
        <div class="row hoteis">
          <div class="blog_block col col-33 padbot50">
            <img src="http://www.expoinga.com.br/images/hoteis/11.jpg">
          </div>
          <div class="blog_block col col-77 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>King Konfort Hotel</h2>
                <div class="telefone">
                  <i class="icon ion-ios-telephone"></i>
                  (44) 4009-7000
                </div>
                <div class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:reserva@kingkonforthotel.com.br">
                    reserva@kingkonforthotel.com.br
                  </a>
                </div>
                <div class="endereco">
                  <i class="icon ion-location"></i>
                  Rua Campos Sales, 326
                </div>
                <div class="endereco">
                  <i class="icon ion-navigate"></i>
                    <a ng-href="https://www.google.com/maps?ll=-23.414098,-51.942874&z=15&t=m&hl=pt-BR&gl=US&mapclient=embed&q=R.+Campos+Sales,+326+-+Zona+7+Maring%C3%A1+-+PR+87020-080,+Brasil" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                    Veja no mapa
                    </a>
                </div>
                <div class="site">
                  <i class="icon ion-ios-world"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="http://www.expoinga.com.br/return/index.php?url=http://www.kingkonforthotel.com.br">
                    Acesse o website
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
          
        </div><!-- //ROW -->

      </div><!-- //CONTAINER -->

        </p>
      </div>

    </div>
    

    </div>
  </ion-content>
</ion-view>
