<ion-view view-title="A Feira" ng-controller="paginasCtrl" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
          <div class="box">
            <img ng-src="http://www.expoinga.com.br/restrito/img/fotos/4_322_2086956608.jpg">
          </div>

      <div class="item item-body">
        <h2 class="product-title">Mapa de Visitantes</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <img src="img/numeromapa.jpg" width="100%" />
        </p>
      </div>


    </div>
  </ion-content>
</ion-view>
