<ion-view view-title="A Feira" ng-controller="paginasCtrl" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
          <div class="box">
            <img ng-src="http://www.expoinga.com.br/restrito/img/fotos/4_322_2086956608.jpg">
          </div>

      <div class="item item-body">
        <h2 class="product-title">Merchandising</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <pre>A Sociedade Rural de Maringá tem o prazer de apresentar um dos principais eventos do agronegócio e entretenimento do País, a Expoingá. A 44ª edição | 21ª internacional tem como tema “Tecnologia para todos!” e será realizada de 5 a 15 de maio de 2016 no Parque Internacional de Exposições de Maringá, um dos maiores e mais bem estruturados do Brasil.

Com aproximadamente 400 mil habitantes, Maringá integra um importante polo econômico do Paraná, sendo referência em gestão pública, educação, saúde e meio ambiente. Modelo de qualidade de vida, conta com a forte presença da agroindústria e da indústria de serviços, que contribuem para que o PIB (Produto Interno Bruto) maringaense esteja entre os 100 maiores do Brasil. 

Durante os 11 dias de evento a feira recebe mais de meio milhão de pessoas. É onde patrocinadores e expositores dos setores do agronegócio, indústria, comércio e serviços encontram o cenário propício para apresentar produtos e lançamentos, gerando grande volume em negócios e prospectando novos clientes. Nas próximas páginas você encontrará uma oportunidade única para divulgação e fortalecimento da imagem de sua marca!

        </p>
      </div>

    </div>

    </div>
  </ion-content>
</ion-view>
