<ion-view view-title="A Feira" ng-controller="paginasCtrl" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
      <div class="box">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ll4OQt_Q4WM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item item-body">
        <h2 class="product-title">O Tema</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <pre>A Expoingá é uma feira onde os expositores dos setores do agronegócio, indústria, comércio e serviços têm a oportunidade de apresentar novidades tecnológicas e os lançamentos e tendências de cada setor.

A tecnologia se faz presente em máquinas e implementos agrícolas de última geração, contribuindo para o aumento da produtividade, com mais qualidade, gerando mais renda para pequenos, médios e grandes produtores rurais. A biotecnologia, uma das ferramentas tecnológicas mais importantes da atualidade, intervém na produção animal e vegetal e gera economia, mais produtividade e sustentabilidade.

O desenvolvimento e a implantação de novas tecnologias na indústria também favorecem o crescimento do setor terciário, onde os recursos tecnológicos e os processos de inovação são grandes aliados.

Nos tempos atuais, diante dos inúmeros desafios econômicos, técnicos, sociais e climáticos, cada vez mais é necessário fazer uso da tecnologia para se produzir mais e melhor, isso em todas as etapas da cadeia produtiva. Relembrando, a Expoingá 2015 teve como tema “Agronegócio: produzindo e alimentando com qualidade”, que objetivou demonstrar ao consumidor final que para o alimento chegar à sua mesa ele é resultado de um processo produtivo que se inicia com o uso de recursos naturais, envolve o preparo e cultivo do solo, a criação de animais, o uso de diversos insumos, além de mão de obra especializada e de modernas máquinas e equipamentos agrícolas, tanto para o plantio quanto para a colheita. Depois o ciclo continua com a armazenagem, a distribuição, processamento/beneficiamento/industrialização, vindo depois disso a comercialização para o consumidor. 

O uso de tecnologia em toda essa cadeia produtiva faz com que o alimento chegue com segurança à mesa do consumidor, com mais qualidade, menos desperdício e mais rapidez. 

A tecnologia está presente em nosso dia a dia e deve estar à disposição e ao alcance de todos. Em termos de agronegócio, beneficiando de agricultores familiares a grandes produtores, desde a previsão meteorológica, passando pelo uso de modernas máquinas e implementos agrícolas até chegar à comercialização do produto final. 

Por isso a Expoingá 2016 escolheu como tema “Tecnologia para todos!”, para demonstrar através da apresentação de produtos, soluções e processos inovadores, além do compartilhamento de conhecimento, que a mesma tecnologia que facilita a vida do cidadão comum também facilita a vida no campo e em todas as atividades a ele associadas.
</pre>
        </p>
      </div>


    </div>
  </ion-content>
</ion-view>
