<ion-view view-title="Regra de Acesso" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
 
        <img width="100%" src="img/topshow.jpg">
   

      <div class="item item-body">
        <h2 class="product-title">Exclusivo ao Parque de Exposições</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <pre>•  Crianças até 8 (oito) anos acompanhadas dos pais ou de algum responsável não pagam ingresso;

• Crianças de 8 (oito) até 12 (doze) anos pagam meio ingresso;

• Estudantes regularmente matriculados em estabelecimentos de ensino público ou particular, do ensino fundamental ao superior, portadores de identificação estudantil constando todos os dados exigidos pela legislação vigente –documento com foto, nome, identificação do estabelecimento de ensino, grau de escolaridade, data de validade até o dia 31 de março do ano subsequente ao da sua expedição – pagam meio ingresso;

• Aposentados portando documento de identificação com foto pagam meio ingresso;

• Idosos de 60 (sessenta) a 64 (sessenta e quatro) anos de idade pagam meio ingresso;

• Idosos com 65 (sessenta e cinco) anos em diante não pagam ingresso;

• Pessoas com deficiência (cadeirantes, paraplégicos, deficientes visuais, deficientes auditivos, pessoas com síndrome de Down) não pagam ingresso;

• Acompanhantes de pessoas com deficiência, quando necessário, pagam meio ingresso;

• Professores da rede de ensino pública e particular que estejam exercendo suas funções e que comprovem o vínculo empregatício com a instituição de ensino através de documento oficial pagam meio ingresso; 

• Doadores regulares de sangue, sendo considerados aqueles que estão registrados no Hemocentro e nos Bancos de Sangue dos hospitais do Estado, identificados por documento oficial expedido pela Secretaria de Estado da Saúde, pagam meio ingresso;

• Todos os jovens pertencentes a famílias de baixa renda, de até 29 anos de idade, regularmente inscritos no Cadastro Único para Programas Sociais do Governo Federal (CadÚnico), pagam meio ingresso;

• Pessoas com câncer pagam meio ingresso.
</pre>
        </p>
      </div>


    </div>
  </ion-content>
</ion-view>
