<ion-view view-title="Prefeito de Maringá" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
 
        <img width="100%" src="img/prefeito.jpg">
   

      <div class="item item-body">
        <h2 class="product-title">Roberto Pupin</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <pre>Maringá tem dupla comemoração no mês de maio com o aniversário de 69 anos da cidade e a chegada da 44ª edição da Expoingá. Uma grande festa para a população que traz uma proposta inovadora ao apresentar o tema “Tecnologia para todos!”. Hoje a tecnologia é a força matriz do avanço, da produção com segurança, da qualidade e rentabilidade, com diversos benefícios para toda a cadeia produtiva e para a população. Para a Prefeitura de Maringá, a Expoingá é sempre um marco para apresentar o que a cidade tem de melhor, como os excelentes índices de desenvolvimento humano, a qualidade de vida, o planejamento urbano e as inúmeras políticas públicas que fazem de Maringá uma vitrine para o País.

O apoio às inovações tecnológicas é uma constante da Prefeitura, que tem trabalhado na criação e no incentivo de ferramentas que facilitam e otimizam a vida do cidadão, como a criação do ISS Tecnológico, em que as empresas de fora abrem filiais em Maringá para se beneficiarem da ferramenta, que inova a rotina e que diretamente contribui para a cidade com a geração de tributos. Aproveitando esse cenário de tecnologias, faço um convite especial para os visitantes participarem da Expoingá e conferir as novidades tecnológicas de cada setor, assim como conhecer o estande da Prefeitura de Maringá, que é parceira da realização dessa grande exposição.
</pre>
        </p>
      </div>


    </div>
  </ion-content>
</ion-view>
