<ion-view view-title="Presidente da SRM" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
 
        <img width="100%" src="img/presidente.jpg">
   

      <div class="item item-body">
        <h2 class="product-title">Maria Iraclézia de Araújo</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <pre>Graças ao incansável comprometimento e empreendedorismo dos produtores, somado ao engajamento das entidades de classe, a agropecuária brasileira apresenta recordes de produção e imensos avanços. Aliado às inovações tecnológicas, o agronegócio mantém positiva a balança comercial, o acesso aos alimentos e a segurança energética de produção.

Trabalhar para o desenvolvimento do agronegócio com mais qualidade, rentabilidade e sustentabilidade são desafios permanentes da classe produtiva. A Expoingá, como uma das maiores feiras agropecuárias do País, tem o objetivo de apresentar para a cadeia de produção e para os setores de indústria, comércio e serviços soluções, estratégias e as tendências mais inovadoras e atuais que existem no mercado.

Com o tema “Tecnologia para todos!”, a feira tem como proposta demonstrar através da apresentação de produtos e lançamentos, além do compartilhamento de conhecimento, que a mesma tecnologia que facilita a vida do cidadão comum também facilita a vida no campo e em todas as atividades a ele associadas. Falar dos tempos atuais e de modernidade é falar de tecnologia, e isso se aplica na atividade rural. 

Mesmo com os inúmeros avanços, sempre existe espaço para evoluir. É por isso que a Sociedade Rural de Maringá (SRM), ao realizar a feira com esse tema, busca mostrar à cadeia produtiva que é preciso, cada vez mais, aderir à cultura da inovação. Portanto, colocar essa discussão em pauta, criar um meio de debate e trocar experiências são importantes estratégias para um agronegócio cada vez mais pujante, inovador, sustentável e estritamente competitivo.

Outra vertente muito importante da temática da 44ª edição da Expoingá é a preocupação de que a tecnologia presente em nosso dia a dia deve estar à disposição e ao alcance de todos, e a incorporação constante de tecnologias no mundo atual é questão de sobrevivência, de acesso ao mundo e de participação efetiva na sociedade. Pensando nisso, a feira é planejada para trazer tecnologias em todos os segmentos.

A diretoria da Sociedade Rural de Maringá convida a todos para prestigiar e participar da Expoingá 2016, que será realizada de 5 a 15 de maio. Até lá!
</pre>
        </p>
      </div>


    </div>
  </ion-content>
</ion-view>
