<ion-view view-title="A Feira" ng-controller="paginasCtrl" class="product-view">
  <ion-content ng-repeat="item in paginaGet">
    <div class="product-card-content">
      
      <ion-slide-box on-slide-changed="slideHasChanged($index)">  
        <ion-slide ng-repeat="imagem in item.galeria">
          <div class="box">
            <img ng-src="http://www.expoinga.com.br/restrito/img/fotos/{{imagem.nomepath}}">
          </div>
        </ion-slide>
      </ion-slide-box>

      <div class="item item-body">
        <h2 class="product-title">{{item.titulo}}</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          {{item.texto02}}
        </p>
      </div>
    </div>

    

    <div class="item item-divider shop-section-title">
      <span class="title-copy">Veja mais sobre a Feira</span>
    </div>

      

      <div class="row shop-products-narrow-cards-outer shop-product-cards-scroller">
      <div class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: product.id})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/shows.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Shows e Rodeios</h2>
            <p class="card-description">Veja a programação</p>
          </div>
        </div>
      </div>
      <div class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: product.id})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/eventos.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Eventos</h2>
            <p class="card-description">Programe-se e venha</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row shop-products-narrow-cards-outer shop-product-cards-scroller">
      <div class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: product.id})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/expositor.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Expositor</h2>
            <p class="card-description">Acesse as informações</p>
          </div>
        </div>
      </div>
      <div class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: product.id})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/socialmedia.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Redes Sociais</h2>
            <p class="card-description">Conecte-se conosco</p>
          </div>
        </div>
      </div>
    </div>


    </div>
  </ion-content>
</ion-view>
