<ion-view view-title="A Feira" ng-controller="paginasCtrl" class="product-view">
  <ion-content ng-repeat="item in paginaGet">
    <div class="product-card-content">
      
      <ion-slide-box on-slide-changed="slideHasChanged($index)">  
        <ion-slide ng-repeat="imagem in item.galeria">
          <div class="box">
            <img ng-src="http://www.expoinga.com.br/restrito/img/fotos/{{imagem.nomepath}}">
          </div>
        </ion-slide>
      </ion-slide-box>

      <div class="item item-body">
        <h2 class="product-title">{{item.titulo}}</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          <pre>{{item.texto02}}</pre>
        </p>
      </div>


    </div>
  </ion-content>
</ion-view>
