<ion-view view-title="Destaques" ng-controller="ShopCtrl" class="shop-home-view">
  <ion-content>
    <div class="list shop-home-options-list" ng-repeat="item in shopGet">
      <a class="item shop-home-option-item" ui-sref="{{item.texto02}}">
        <div class="row">
          <div class="col">
            <pre-img ratio="_2_1" helper-class="shop-home-option-image-outer">
              <!-- <img ng-src="http://lorempixel.com/300/150" spinner-on-load> -->
              <img ng-src="http://www.expoinga.com.br/restrito/classes/resize.php?src=/restrito/img/paginas/{{item.imagem}}&h=450&w=900&zc=1&q=90&s=0" spinner-on-load>
            </pre-img>
          </div>
        </div>
        <div class="row option-copy">
          <div class="col col-75">
            <span>{{item.titulo}}</span>
          </div>
          <div class="col col-25 option-icon">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>
      </a>
    </div>
    <!--
    <div class="item item-divider shop-section-title">
      <span class="title-copy">Outros Destaques</span>
      <a class="button button-small button-dark section-action" ui-sref="app.shop.popular">Veja mais</a>
    </div>
    -->
 

    <div class="row shop-products-narrow-cards-outer">
      <div class="col col-50 shop-product-narrow-card" ng-repeat="item in shop">
        <div class="list card" ui-sref="{{item.texto02}}">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="http://www.expoinga.com.br/restrito/classes/resize.php?src=/restrito/img/paginas/{{item.imagem}}&h=450&w=450&zc=1&q=90&s=0" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">{{item.titulo}}</h2>
            <p class="card-description">{{item.texto01}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row shop-products-narrow-cards-outer">
      
      <div class="col col-50 shop-product-narrow-card">
        <div class="list card" ui-sref="app.otema">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="http://www.expoinga.com.br/restrito/img/paginas/4_37_259633156.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">O Tema</h2>
            <p class="card-description">Expoingá 2016</p>
          </div>
        </div>
      </div>
      
      <div class="col col-50 shop-product-narrow-card">
        <div class="list card" ui-sref="app.show">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/shows.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Shows</h2>
            <p class="card-description">Veja a lista completa</p>
          </div>
        </div>
      </div>


      <div class="col col-50 shop-product-narrow-card">
        <div class="list card" ui-sref="app.hotel">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/hoteis.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Onde se Hospedar</h2>
            <p class="card-description">Lista de Hotéis</p>
          </div>
        </div>
      </div>

      <div class="col col-50 shop-product-narrow-card">
        <div class="list card" ui-sref="app.mediasocial">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="img/socialmedia.jpg" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">Mídias Sociais</h2>
            <p class="card-description">Acesse</p>
          </div>
        </div>
      </div>

    </div>



   
  </ion-content>
</ion-view>


