<ion-view view-title="Destaques" class="shop-view">
  <ion-tabs class="tabs-icon-top tabs-striped tabs-background-balanced tabs-color-light shop-tabs">
    
    <ion-tab title="Principal" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="app.shop.home">
      <ion-nav-view name="shop-home"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="A Feira" icon-on="ion-android-star" icon-off="ion-android-star-outline" ui-sref="app.shop.popular">
      <ion-nav-view name="shop-popular"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Info" icon-on="ion-information-circled" icon-off="ion-ios-information-outline" ui-sref="app.shop.sale">
      <ion-nav-view name="shop-sale"></ion-nav-view>
    </ion-tab>
  
  </ion-tabs>
</ion-view>
