<ion-view view-title="Redes Sociais" class="product-view">
  <ion-content>
    <div class="product-card-content">
      
          <div class="box">
            <img ng-src="http://www.expoinga.com.br/restrito/img/fotos/4_333_1897817867.jpg">
          </div>

      <div class="item item-body">
        <h2 class="product-title">Conecte-se na Expoingá</h2>
      </div>
      <div class="item item-body">
        <p class="product-description">
          
          <!-- CONTAINER -->
      <div class="container">
        
        <!-- ROW 01-->
        <div class="row hoteis">
          <div class="blog_block col col-100 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Facebook</h2>
                <div class="site">
                  <i class="icon ion-social-facebook"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="https://www.facebook.com/expoingaoficial">
                    Acesse a Fan Page
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
        </div><!-- //ROW -->

        <!-- ROW 01-->
        <div class="row hoteis">
          <div class="blog_block col col-100 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Youtube</h2>
                <div class="site">
                  <i class="icon ion-social-youtube"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="https://www.youtube.com/user/expoingaoficial">
                    Acesse o Canal Oficial
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
        </div><!-- //ROW -->

        <!-- ROW 01-->
        <div class="row hoteis">
          <div class="blog_block col col-100 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Instagram</h2>
                <div class="site">
                  <i class="icon ion-social-instagram"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="https://www.instagram.com/expoingaoficial/">
                    Acesse o Perfil
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
        </div><!-- //ROW -->

        <!-- ROW 01-->
        <div class="row hoteis">
          <div class="blog_block col col-100 padbot50">
            <!-- BLOG POST -->
            <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp"> 
              <div class="blog_post_descr">
                <h2>Flicker</h2>
                <div class="site">
                  <i class="icon ion-camera"></i>
                  <a onclick='window.open(this.href, "_system", "location=yes"); return false;' ng-href="https://www.flickr.com/photos/expoinga2016/">
                    Acesse as fotos
                  </a>
                </div>
              </div>
            </div><!-- //BLOG POST -->  
          </div>
        </div><!-- //ROW -->

        

        

      </div><!-- //CONTAINER -->

        </p>
      </div>

    </div>
    

    </div>
  </ion-content>
</ion-view>
